@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #020A18;
    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) -41.9%, rgba(255, 255, 255, 0.40) 260.24%);*/
}


.container {
    width: 1146px;
    margin: 0 auto;
}

.header {
    margin-bottom: 160px;
}

.header-link {
    text-decoration: none;
    color:  #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    padding: 40px 16px;
}

.nav {
    display: flex;
    justify-content: center;
}

.header-link:hover {
    color: #3A68B8;
}

.subtitle {
    color:#3A68B8;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color: #FFF;
    font-family: Open Sans;
    font-size: 55px;
    font-weight: 800;
    line-height: 130%; /* 71.5px */
    margin-bottom: 40px;
}

.title2 {
    color: #FFF;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%; /* 71.5px */
    margin-bottom: 30px;
}

.title3 {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 125%; /* 71.5px */
    margin-bottom: 30px;
}

.title4 {
    color: #FFF;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%; /* 71.5px */
    margin-bottom: 40px;
}

.dsc {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    opacity: 0.7;
    margin-bottom: 50px;
}

.dsc2 {
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    opacity: 0.7;
    margin-bottom: 50px;
}

.dsc3 {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    /*margin-bottom: 50px;*/
}

.dsc4 {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    margin-bottom: 20px;
}

.main-link {
    display: inline-flex;
    padding: 1rem 2rem;
    gap: 10px;
    background-color: #3A68B8;
    color: #FFF;
    border-radius: 5px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 20px;
}

.main-link2 {
    padding: 1rem 2rem;
    background-color: #3A68B8;
    color: #FFF;
    border-radius: 5px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.main_button {
    display: flex;
    justify-content: flex-start;
}

.flex {
    display: flex;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
}

.column {
    flex-direction: column;
    width: 30%;
}

.main-left, .main-right {
    width: 46%;
}

.main-right2 {
    padding-top: 117px;
    /*width: 40%;*/

}

.main-left {
    width: 40%;
}

.main {
    margin-bottom: 200px;
}

.main2 {
    margin-bottom: 265px;
}

.main3 {
    margin-bottom: 245px;
}

.main4 {
    margin-bottom: 220px;
}

.logos {
    margin-bottom: 250px;
}

.box {
    background: #132035;
    padding: 30px;
}

.box_W {
    width: 30%;
}

.big_box {
    width: 65%;
    background: #132035;
    padding: 30px;
}

.center {
    margin: 0 auto 30px;
    display: block;
}

.contacts {
    width: 30%;
}

.contacts_title {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 33px;
}
.contacts_data {
    flex-direction: column;
    align-content: space-between;
    gap: 24px;
}

.contacts_text {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}

.icons {
    justify-content: flex-start;
    gap: 24px;
}

.table_marg_bot {
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .main-left, .main-right{
         width: 100%;

     }

    .main-left {
        margin-bottom: 128px;
    }

    .main-right {
        display: flex;
        justify-content: center;
    }

    .logo_gap {
        gap: 32px;
        justify-content: center;
    }

    .column_table {
        flex-direction: column;
        align-content: center;
        gap: 32px;
    }

    .box_W {
        width: 362px;
    }

    .hidemobile {
        visibility: hidden;
        display: none;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {


    .container {
        width: 767px;
        padding: 45px;
        /*gap: 128px;*/
    }




    .main-right2 {
        width: 484px;
    }



    .container_center {
        justify-content: center;
    }

    .container_gap {
        gap:30px;
        justify-content: start;
    }





    .main-left4 {
        width: 458px;
        margin-bottom: 64px;
    }

    .contacts {
        width: 47%;
    }

    .icons {
        justify-content: start;
    }

}

@media screen and (max-width: 375px) {

    .container {
        display: flex;
        width: 375px;
        margin: 0 5px;
        justify-content: center;
        gap: 32px;
    }

    .main-left, .main-right2, .main-left4{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }



    .title, .dsc, .title2, .dsc2, .title4, .dsc4 {
        text-align: center;
    }
    .main_button {
        gap: 24px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .image_width {
        width: 343px;
    }

    .header-link {
        padding: 40px 8px;
    }

    .contacts {
        width: 100%;
    }

    .contacts_title, .link {
        text-align: center;
    }

    .icons {
        justify-content: center;
    }

}